<footer class="footer">
  <div class="p2 wrap">
    <div class="measure mt1 center">
      <small>
          ©2023 Liam
      </small>
      <small>
      <br>
      ❤ <a href="http://siqing.rocks/">siqing</a>
      </small>
    </div>
  </div>
</footer>

{% if site.google_analytics %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EJGB6F3DNS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EJGB6F3DNS');
</script>
{% endif %}
