---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <div class="post">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        <h3 class="h3 post-title">{{ post.title }}</h3>
      </a>
    </div>
  {% endfor %}
</div>

<!-- AdSense horizontal ad at bottom -->
<div class="bottom-ad" style="margin: 2em 0; text-align: center;">
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-6016626167672427"
       data-ad-slot="9559634432"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
