---
layout: default
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
  <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span><br>
  {% if page.update_date %}
    <span class="post-meta">Updated: {{ page.update_date | date: "%b %-d, %Y" }}</span><br>
  {% endif %}
</div>

<article class="post-content">
  {{ content }}
</article>

<!-- AdSense sidebar ad -->
<div class="sidebar-ad" style="margin: 2em 0; padding: 1em; text-align: center; border: 1px solid #f3f3f3; background: #fafafa;">
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-6016626167672427"
       data-ad-slot="6059109791"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

{% if site.show_sharing_icons %}
  {% include share_buttons.html %}
{% endif %}

{% if site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname  = '{{ site.disqus_shortname }}';
    var disqus_identifier = '{{ page.id }}';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

{% if site.show_related_posts %}
  <h2 class="related-post-title">YOU MIGTH ENJOY</h2>
  {% for post in site.related_posts limit:3 %}
    <div class="post ml2">
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          {{ post.title }}
        </a>
      </li>
    </div>
  {% endfor %}
{% endif %}

<!-- AdSense horizontal ad at bottom -->
<div class="bottom-ad" style="margin: 2em 0; text-align: center;">
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-6016626167672427"
       data-ad-slot="9559634432"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
